<div class="container">
    <!-- <div *ngIf="!isDataAvailable">
        <app-loading></app-loading>
    </div> -->
    <div *ngIf="!isDataAvailable">
    <app-heading [modalType]="'#Modal-1'" [heading1]="'Work-in-Progress'" [addButtonDisplay]="true"
        [addButtonText]="'Add new project'" [mobileViewButtonText]="'new'">
    </app-heading>
    <app-cards [cardImageLocation]="'../../assets/images/random_project.jpg'" [cardTitle]="'Project'" (dataCheckEvent)="checkData($event)"></app-cards>
    <br>
    <app-heading [heading1]="'Completed'" [addButtonDisplay]="false">
    </app-heading>
    <app-cards [cardImageLocation]="'../../assets/images/random_project.jpg'" [cardTitle]="'Project'"></app-cards>
    <br>
</div>
</div>