<div class="container">
    <app-heading [heading1]="'Article'" [addButtonDisplay]="true" [addButtonText]="'Publish'">
    </app-heading>
    <div class="text-editor mt-3 mb-2">
        <div class="container-fluid">
            <div class="row text-editor-features d-flex align-items-center justify-content-start">
                <div class="col-lg-2 col-4">
                    <select class="form-select">
                        <option selected>Calibri</option>
                        <option value="1">Arial</option>
                        <option value="2">Georgia</option>
                        <option value="3">Lobster</option>
                    </select>
                </div>
                <div class="col-lg-2 col-4">
                    <select class="form-select">
                        <option selected>32</option>
                        <option value="1">28</option>
                        <option value="2">24</option>
                        <option value="3">22</option>
                    </select>
                </div>
                <div class="col-lg-1 col-1 ">
                    <b class="text-light">B</b>
                </div>
                <div class="col-lg-1 col-1">
                    <em class="text-light">I</em>
                </div>
                <div class="col-lg-1 col-1">
                    <u class="text-light">U</u>
                </div>

            </div>
        </div>
    </div>
</div>